html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    padding-bottom: 3rem;
}

footer {
    flex-shrink: 0;
    margin-top: auto;
    background-color: #f8f9fa;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* Order Summary */
.order-summary-card {
    position: sticky;
    top: 20px;
}

#place-order-btn {
    padding: 12px;
    font-weight: 500;
    font-size: 1.05rem;
}


/* Address Form */
.address-form {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
}

.delivery-selected {
    cursor: pointer;
    color: #31c514;
}
