{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a class="nav-link {% if section == 'products' %}active{% endif %}" href="{{ url_for('admin.home') }}">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if section == 'categories' %}active{% endif %}" href="{{ url_for('admin.categories') }}">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if section == 'orders' %}active{% endif %}" href="{{ url_for('admin.orders') }}">Orders</a>
        </li>
    </ul>

    <div class="container py-4 m-auto">
        <div class="d-flex justify-content-between align-items-center mb-3 p-1">
            <div>
                <h4 class="mb-1">Products</h4>
                <div class="text-muted">Showing {{ products|length }} products</div>
            </div>
            <a href="{{ url_for('admin.add_product_page') }}" class="btn btn-primary rounded-1">+ Add Product</a>
        </div>
        
        <div class="border shadow-sm">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class=><div class="ms-5">Product Info</div></th>
                            <th class=>Price</th>
                            <th class=>Category</th>
                            <th class=>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td style="min-width: 100px;">
                                <div class="d-flex align-items-center">
                                    <div class="me-2">
                                        <form action="{{ url_for('admin.delete_product', id=product.id) }}" method="POST">
                                            <button type="submit" class="btn-icon">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                        <button type="submit" class="btn-icon">
                                            <a href="{{ url_for('admin.add_product_page', id=product.id) }}" class="bi bi-pencil-square"></a>
                                        </button>
                                    </div>
                                    <img src="{{ url_for('static', filename=product.image if product.image else 'images/logo.png') }}" alt="Product Image" class="thumbnail me-3">
                                    <div>
                                        <div class="fw-semibold">{{ product.name }}</div>
                                        <div class="text-muted">ID: {{ product.id }}</div>
                                    </div>
                                </div>
                            </td>
                            <td>${{ "%.2f"|format(product.price) }}</td>
                            <td><div class="badge status-info rounded-1 fw-semibold">{{ product.category.name }}</div></td>
                            <td>
                                <span class="badge rounded-pill status-success">Active</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}