<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='front/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='front/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='front/css/styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark mb-7">
        <div class="container ">
            <a class="navbar-brand" href="{{ url_for('main.home') }}">
                <img src="{{ url_for('static', filename='front/img/logo.png') }}" alt="Website logo" width="250" />
            </a>
            <!-- Hambourger Menu once screen is small -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <span class="navbar-nav ms-auto">
                    <!-- Search Input & Button -->
                    {% block searchbox %}{% endblock %}
                </span>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'main.home' %}active{% endif %}"
                            href="{{ url_for('main.home') }}">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    {% block navitems %}{% endblock %}
                    {% if 'user_id' in session %}
                    {% if session['role'] == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'admin.home' %}active{% endif %}"
                            href="{{ url_for('admin.home') }}">
                            <i class="fas fa-user-shield"></i> Admin
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'order.history' %}active{% endif %}"
                            href="{{ url_for('order.history') }}">
                            <i class="fas fa-history"></i> Order
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'cart.cart_page' %}active{% endif %}"
                            href="{{ url_for('cart.cart_page') }}">
                            <i class="fas fa-shopping-cart"></i> Cart
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="{{ url_for('auth.logout') }}" method="POST">
                            <button type="submit" class="btn-logout">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'auth.login' %}active{% endif %}"
                            href="{{ url_for('auth.login') }}">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner mt-5 sticky-top navbar-nav ms-auto">
        <img src="{{ url_for('static', filename='front/img/cover.jpg') }}" alt="Cover Image"
            class="image-fluid w-100 shadow-lg border">
    </div>
    <div class="container mt-2"></div>
    {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger m-0 p-2 text-center">{{ message }}</div>
    {% else %}
    <div class="alert alert-success m-0 p-22 text-center">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <!-- Footer Start -->
    <!-- Footer -->
    <section class="social text-bg-dark py-6 overflow-hidden bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center fs-4">
                    <p>We provide fast and reliable grocery delivery to your home and office.</p>
                    <div class="social-icons d-flex justify-content-center gap-4">
                        <i class="fab fa-facebook fa-2x"></i>
                        <i class="fab fa-twitter fa-2x"></i>
                        <i class="fab fa-instagram fa-2x"></i>
                        <i class="fab fa-linkedin fa-2x"></i>
                        <i class="fab fa-pinterest fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer notes -->
    <footer class="border-top border-primary bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="{{ url_for('main.home') }}" class="nav-link link-light">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('order.history') }}" class="nav-link link-light">Order History</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('cart.cart_page') }}" class="nav-link link-light">cart</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('auth.login') }}" class="nav-link link-light">Login</a>
                        </li>
                        {% if 'user_id' in session and session['role'] == 'admin' %}
                        <li class="nav-item">
                            <a href="{{ url_for('admin.home') }}">Admin Dashboard</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="text-end d-none d-md-block">
                        Copyright &copy; IFN582_25se1 (A2_Group_ 123)
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer End -->

    <!-- Javascript Load  -->
    <script src="{{ url_for('static', filename='front/js/bootstrap.bundle.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='front/js/script.js') }}"></script> -->
</body>

</html>