{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a class="nav-link {% if section == 'products' %}active{% endif %}" href="{{ url_for('admin.home') }}">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if section == 'categories' %}active{% endif %}" href="{{ url_for('admin.categories') }}">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if section == 'orders' %}active{% endif %}" href="{{ url_for('admin.orders') }}">Orders</a>
        </li>
    </ul>

    <div class="container py-4 m-auto">
        <div class="d-flex justify-content-between align-items-center mb-3 p-1">
            <div>
                <h4 class="mb-1">Categories</h4>
                <div class="text-muted">Showing {{ categories|length }} categories</div>
            </div>
            <a href="{{ url_for('admin.add_category_page') }}" class="btn btn-primary rounded-1">+ Add Category</a>
        </div>
        
        <div class="border shadow-sm">
            <div>
                <table class="table mb-0 text-center">
                    <thead class="table-light">
                        <tr>
                            <th><div class="ms-5">Category Name</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr class="align-items-center">
                            <td>
                                <div class="d-flex">
                                    <div class="me-2">
                                        <button type="submit" class="btn-icon">
                                            <a href="{{ url_for('admin.add_new_category', id=category.id) }}" class="bi bi-pencil-square"></a>
                                        </button>
                                    </div>
                                    <div>
                                        <div class="fw-semibold">{{ category.name }}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}